<section class="hero">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">
        <i class="fa fa-book"></i> My Next Books
      </h1>
      <h2 class="subtitle">
        Wishlist and recommended books
      </h2>
    </div>
  </div>
</section>

<section class="section">
  <div class="book-grid">
    byebug
    <%= render @books || "No books are available." %>
  </div>
</section>


<%= link_to 'New Book', new_book_path %>
