<footer class="footer">
	<div class="container">
		<div class="content has-text-centered">
			<p>
			Visit <a href="#" target="_blank">laurieroy.github.io</a> for more builds like this one.
			</p>
		</div>
	</div>
</footer>